body {
  background-color: #f6e8df;
  width: 94%;
  height: 100%;
  padding-left: 60px;
}

.tableContainer {
  background-color: #f6e8df;
}

.tableContainer table td {
  font-size: 13.2px;
}

.tableContainer table th {
  font-weight: bold;
  font-size: 13.2px;
}

.caducado {
  color: #af302e;
  background-color: #ffe2dd;
  border-radius: 9px;
  display: inline-block;
  padding: 3px 20px;
}

.vigente {
  color: #34684e;
  background-color: #dceedc;
  border-radius: 9px;
  display: inline-block;
  padding: 3px 30px;
}

.MuiTablePagination-actions {
  gap: 0px !important;
  padding: 0 4px !important;
}

.icon-info {
  align-items: center;
  margin-right: 10px;
  font-size: 1.2em;
  cursor: pointer;
  color: #856459;
}

.iconEdit {
  align-items: center;
  margin-right: 10px;
  font-size: 1.2em;
  cursor: pointer;
  color: #856459;
}

.iconDelete {
  align-items: center;
  margin-right: 10px;
  font-size: 1.2em;
  cursor: pointer;
  color: #856459;
}