.body {
  background-color: #f6e8df;
  width: 97%;
  height: 90%;
}

.table-container {
  background-color: #f6e8df;
  width: 97%;
  height: 90%;
}

.caducado {
  color: #af302e;
  background-color: #ffe2dd;
  border-radius: 9px;
  display: inline-block;
  padding: 3px 20px;
}

.vigente {
  color: #34684e;
  background-color: #dceedc;
  border-radius: 9px;
  display: inline-block;
  padding: 3px 35px;
}

.MuiTablePagination-actions {
  gap: 0px !important;
  padding: 0 4px !important;
}

.icon-container {
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  color: #856459;
}
.icon-edit{
  margin-right: 10px;
}
.icon-info{
  margin-right: 15px;
}